<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Products Page</title>
</head>
<body>
    <h1>New Product Page</h1>
    <form action="/phones" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name"> <br>
        
        <label for="img">Image:</label>
         <input type="text" name="img"> <br>
       
         <label for="description">Description:</label>
         <input type="text" name="description" id="description"> <br>
         
       <label for="price">Price:</label>
        <input type="text" name="price" id="price">  <br>
         
        <input type="submit" value="Create product">
    </form>
    
</body>
</html>