body {
    /* margin: 40px; */
}

img {
    max-width: 100px;
    max-height: 100px;
}
.nav1 {
    background-color: antiquewhite;
    /* padding: 10px; */
    display: grid;
    grid-area: nav;
    /* margin: 20px; */
}
.header {
    background-image: url("http://maasatienterprise.com/images/sitemap.jpg") ;
    grid-area: hd;
    margin: 20px;
    margin-top: 0%;
    margin-left: 0%;
    text-align: center;
	width: 758px;
	height: 150px;
	background-size: 100%;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
   float: left;
  
}
.container1 {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    grid-area: mc;
}

.content {
    background-color: lightgrey;
    border-radius: 10%;
    
    
}

footer {
    background-color: black;
    grid-area: ft;
    margin: 20px
}


.container0 {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: "hd hd hd hd hdgit"
                            "nav mc mc mc mc" 
                           "ft ft ft ft ft " ;
    border: 3px solid black;  
}


.name {
    font-size: 15px;

}



.list {
    display: grid;

}

h3 {
  font-size: 15px;
}

