body {
    background-color: #12232E;
}

img {
    max-width: 150px;
    max-height: 150px;
}
.nav1 {
    background-color: #EEFBFB;
    display: grid;
    grid-area: nav;
 
}
/* image Reference from http://maasatienterprise.com/sitemap.html */
.header {
    background-image: url("http://maasatienterprise.com/images/sitemap.jpg") ;
    grid-area: hd;
    margin: 20px;
    margin-top: 0%;
    margin-left: 0%;
    text-align: center;
	width: 100vw;
	height: 150px;
	background-size: 100%;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
   float: left;
  
}
.container1 {
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    grid-area: mc;
    justify-content: space-between;
}

.content {
    background-color: #EEFBFB;
    border-radius: 5%;
    margin-left: 3rem;
   
    
}

footer {
    background-color: black;
    grid-area: ft;
    margin: 20px
}


.container0 {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "hd hd hd hd hd"
                            "nav mc mc mc mc" 
                           "ft ft ft ft ft " ;
    border: 3px solid black;  
}


.name {
    font-size: 15px;

}



.list {
    display: grid;

}

h3 {
  font-size: 15px;
}

.nav {
    border: 2px solid black;
    text-align: center;
    padding: 3px;
}

#button {
    background-color: #203647;
    font-size: 10px;
}
#edit {
    background-color: #007CC7;
    font-size: 10px ;
}
